@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    color: white;
    min-height: 10vh;
    background: black;
}

#logo {
    grid-column: 2/3; 
    font-size: 24px;
}

.menu {
    justify-self: end;
}

.slider {
    position: absolute;  
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ba7453, #d1a984);
}